table.comparacao {
  font-size: 28px;
  
}
table.comparacao td {
  vertical-align: middle;
}

section.small-font li, section.small-font p {
  font-size:36px;
}

p.left {
  text-align: left;
}

p.right {
  text-align: right;
}

section#timeline div {
  float: left;
  color: #eee8d5;
}

section#timeline div.tllast {
  border-right: 5px solid #93a1a1;
  width: 10%;
}

section#timeline div.tlfirst {
  border-left: 5px solid #93a1a1;
  width: 10%;
}

section#timeline div.tlmiddle span.tlmark {
  border-left: 5px solid #93a1a1;
  float:none;
  position: relative;
  top: 0px;
}

section#timeline div.tlmiddle {
  width: 39.47%;
}


section#timeline div.tlfirst span {
  float:left;
  position: relative;
  top: -60px;
  left: -40px;
}

section#timeline div.tllast span {
  float:right;
  position: relative;
  top: -60px;
  right: -70px;
}

section#timeline div.tlmiddle span{
  position: relative;
  top: -60px;
}

section#timeline div.tlmiddle span.tlmark{
  position: relative;
  left: 75px;
}

span.source {
  font-size: 18px;
}

div.span50 {
  width:50%;
  float: left;
}





